@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 300;
  color: #333;
}

.icon {
  font-family: "Arial", sans-serif !important;
  font-size: 2em;
  vertical-align: middle;
}

p {
  margin-bottom: 0px;
}

*[class*=-primary] {
  background-color: #22DE6D !important;
  border-color: #22DE6D !important;
}
*[class*=-primary][class*=text-] {
  background: none !important;
  border: none !important;
  color: #22DE6D !important;
}

*[class*=-secondary] {
  background-color: #0943D7 !important;
  border-color: #0943D7 !important;
}
*[class*=-secondary][class*=text-] {
  background: none !important;
  border: none !important;
  color: #0943D7 !important;
}

nav.navbar.fixed-top {
  padding-top: 15px;
  padding-bottom: 15px;
  background: #fff;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}
nav.navbar.fixed-top .main-logo {
  height: 40px;
}
nav.navbar.fixed-top .nav-item {
  opacity: 0.5;
}
nav.navbar.fixed-top .nav-item.active {
  opacity: 1;
}
nav.navbar.fixed-top .nav-item a {
  font-weight: 400;
}
nav.navbar.fixed-top .nav-item.nav-c2a {
  display: inline-block;
  opacity: 1;
}

.btn {
  border-radius: 20.5px;
  padding: 8px 20px;
  font-weight: 700 !important;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn:hover {
  background-color: #4ee58a !important;
  border-color: #4ee58a !important;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
}

header#home-head {
  position: relative;
  height: 400px;
  margin-top: 80px;
  background: #f5f5f5;
}
@media (max-width: 990px) {
  header#home-head {
    text-align: center;
    background-image: url("../img/header-bg.jpg");
    background-size: cover;
    color: #fff;
  }
  header#home-head::before {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 34, 0.8);
  }
}
header#home-head .header-bg {
  position: absolute;
  right: 0px;
  height: calc(100% + 2px);
  width: 50%;
  top: -2px;
  background-image: url("../img/header-bg.jpg");
  background-size: cover;
  -webkit-clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);
  clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);
}
@media (max-width: 990px) {
  header#home-head .header-content {
    text-align: center;
  }
}

h1 {
  font-size: 4rem;
}
@media (max-width: 990px) {
  h1 {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: 2.66em;
}
@media (max-width: 990px) {
  h2 {
    font-size: 2rem;
  }
}

em {
  white-space: nowrap;
}

section#medal-display {
  position: relative;
}
section#medal-display .medal-bg {
  background: url("../img/positive.png");
  background-color: #0943D7;
  background-blend-mode: screen;
  -moz-background-blend-mode: screen;
  -webkit-background-blend-mode: screen;
  background-attachment: fixed;
  position: absolute;
  height: 100%;
  -webkit-animation-name: badgeBackground;
  animation-name: badgeBackground;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  opacity: 0.4;
}
section#medal-display .medal-bg::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(white), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(0deg, white, rgba(255, 255, 255, 0));
  bottom: 0px;
  left: 0px;
}
section#medal-display .section-content {
  padding-left: 30px;
  width: 100%;
}
@media (max-width: 990px) {
  section#medal-display .section-content {
    text-align: center;
    padding-top: 30px;
    padding-left: 0px;
  }
}

#badge {
  height: 200px;
  display: block;
  margin: 0px auto;
  width: 200px;
  background-image: url("../img/badge.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 100px;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

@-webkit-keyframes badgeBackground {
  0% {
    background-color: #0943D7;
  }
  100% {
    background-color: #22DE6D;
  }
}
@keyframes badgeBackground {
  0% {
    background-color: #0943D7;
  }
  100% {
    background-color: #22DE6D;
  }
}
.stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (max-width: 990px) {
  .stats {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.stats .stat {
  padding: 10px 20px 10px 0px;
  padding-left: 0px;
  min-width: 50%;
  text-align: left;
}
@media (max-width: 990px) {
  .stats .stat {
    min-width: auto;
  }
}
.stats .stat .fact {
  font-size: 2em;
  font-weight: 700;
  vertical-align: middle;
}
@media (max-width: 990px) {
  .stats .stat .fact {
    font-size: 1.5em;
  }
}
.stats .stat .text {
  vertical-align: middle;
  font-size: 1.333em;
  white-space: nowrap;
  padding-left: 10px;
}

.redirect-link {
  color: #0943D7;
  text-decoration: none !important;
  font-weight: 700;
  margin-top: 30px;
  display: inline-block;
}
.redirect-link span {
  margin-right: 10px;
  -webkit-animation-name: linkAnim;
  animation-name: linkAnim;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  vertical-align: middle;
}
.redirect-link::after {
  content: " ➔";
  vertical-align: middle;
  font-size: 1.2em;
}

#experience-slider .items {
  overflow: hidden;
  position: relative;
  z-index: 10;
}
#experience-slider .items .experience {
  width: 100%;
  position: absolute;
  padding-bottom: 15px;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  top: 0px;
  -webkit-transition: -webkit-transform 0.6s ease;
  transition: -webkit-transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
}
#experience-slider .items .experience.active {
  -webkit-transform: none;
  transform: none;
}
#experience-slider .items .experience.prev {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
#experience-slider .items .experience .year {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
}
@media (max-width: 990px) {
  #experience-slider .items .experience .year {
    display: block;
    margin-bottom: 1em;
  }
}
#experience-slider .items .experience .year::after {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: calc(100% - 0.45em);
  top: 0.45em;
  right: 10px;
  background: #ccc;
}
@media (max-width: 990px) {
  #experience-slider .items .experience .year::after {
    display: none;
  }
}
#experience-slider .items .experience .year span {
  -webkit-transform: rotate(-90deg) translate(30%, -50%);
  transform: rotate(-90deg) translate(30%, -50%);
  font-weight: 700;
  -webkit-transform-origin: center;
  transform-origin: center;
  display: block;
  font-size: 2em;
  height: 1em;
}
@media (max-width: 990px) {
  #experience-slider .items .experience .year span {
    -webkit-transform: none;
    transform: none;
  }
}
#experience-slider .items .experience .company-name {
  margin-bottom: 0px;
  display: inline;
  margin-right: 1ch;
}
#experience-slider .items .experience .link {
  display: inline-block;
  vertical-align: bottom;
}
@media (max-width: 990px) {
  #experience-slider .items .experience .link {
    display: inline;
    border: none;
    padding: 0px;
    margin: 0px;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 0px;
    opacity: 0.7;
  }
  #experience-slider .items .experience .link:hover {
    background: none !important;
    color: #1bb257 !important;
    opacity: 1;
  }
  #experience-slider .items .experience .link::before {
    content: "🔗";
    margin-right: 10px;
    font-size: 20px;
  }
}
#experience-slider .items .experience::after {
  content: "";
  display: block;
  position: absolute;
  left: calc(50% - 7.5px);
  bottom: 12px;
  width: 15px;
  height: 15px;
  background: #0943D7;
  border-radius: 50%;
}
#experience-slider .items .experience::before {
  content: "";
  display: block;
  position: absolute;
  left: calc(50% - 15px);
  bottom: 5px;
  width: 30px;
  height: 30px;
  background: rgba(0, 0, 33, 0.08);
  border-radius: 50%;
  -webkit-animation-name: scaler;
  animation-name: scaler;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}
#experience-slider .controls {
  position: relative;
  z-index: 5;
  top: -44px;
}
#experience-slider .controls .timeline {
  display: block;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 50, 0)), color-stop(25%, #0943D7), color-stop(75%, #0734a6), to(rgba(0, 0, 20, 0)));
  background: linear-gradient(90deg, rgba(0, 0, 50, 0) 0%, #0943D7 25%, #0734a6 75%, rgba(0, 0, 20, 0) 100%);
}
#experience-slider .controls .previous,
#experience-slider .controls .next {
  margin-top: 10px;
  width: calc(50% - 3px);
  display: inline-block;
  font-weight: 700;
  cursor: pointer;
}
#experience-slider .controls .previous.disable,
#experience-slider .controls .next.disable {
  opacity: 0.2;
}
#experience-slider .controls .previous::before {
  content: " ⇠";
  margin-right: 1ch;
}
#experience-slider .controls .next {
  text-align: right;
}
#experience-slider .controls .next::after {
  content: " ⇢";
  margin-left: 1ch;
}

a.link {
  font-weight: 700;
  text-decoration: none !important;
  color: #22DE6D;
  opacity: 0.8;
  border: 1px solid #22DE6D;
  border-radius: 1em;
  padding: 0px 10px;
  line-height: 2em;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
a.link:hover {
  color: #fff;
  background: #22DE6D;
}

h4 {
  font-weight: 700;
  font-size: 1.5em;
  color: #052475;
}

#project-slider {
  padding: 0px 0px 0px 20px;
}
#project-slider .wrap {
  overflow-x: hidden;
}
#project-slider .wrap .items {
  cursor: -webkit-grab;
  cursor: grab;
}
#project-slider .wrap .items.is-dragging {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.project {
  width: 300px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
  padding: 10px;
  overflow: hidden;
  margin-right: 20px;
  position: relative;
  background: #fff;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-bottom: 20px;
}
.project .project-image {
  height: 200px;
  position: relative;
  width: calc(100% + 20px);
  margin: -10px 0px 0px -10px;
  margin-bottom: 15px;
}
.project .project-image::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
}
.project .project-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: calc(100% - 211px);
}
.project a.link {
  float: right;
  margin-top: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "main first" "main second" "main third";
}
@media (max-width: 990px) {
  .grid-container {
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "main" "first" "second" "third";
  }
}

article {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-line-pack: end;
  align-content: flex-end;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  cursor: pointer;
}
article .article-img {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}
article .article-img::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, rgba(0, 0, 50, 0.4)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, rgba(0, 0, 50, 0.4) 10%, rgba(0, 0, 0, 0));
  top: 0px;
  left: 0px;
  z-index: 5;
}
article .caption {
  color: #fff;
  position: relative;
  z-index: 10;
}
article .caption h4 {
  color: #fff;
}
article.secondary {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
article.secondary .article-img {
  width: 80px;
}
article.secondary .article-img::after {
  display: none;
}
article.secondary .caption {
  width: calc(100% - 90px);
  margin-left: 90px;
  color: inherit;
}
article.secondary .caption h4 {
  color: #052475;
  font-size: 1.4em;
}

.dull-link {
  text-decoration: none !important;
  color: inherit !important;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.dull-link:hover {
  opacity: 0.9;
}

.main {
  grid-area: main;
  padding-right: 15px;
  padding-bottom: 15px;
}

.first {
  grid-area: first;
  padding-bottom: 15px;
}

.second {
  grid-area: second;
  padding-bottom: 15px;
}

.third {
  grid-area: third;
  padding-bottom: 15px;
}

@media (max-width: 990px) {
  .main {
    padding-right: 0px;
  }
  .main article {
    font-size: 80%;
  }
  .main article .article-img {
    width: 80px;
  }
  .main article .article-img::after {
    display: none;
  }
  .main article .caption {
    width: calc(100% - 90px);
    margin-left: 90px;
    color: inherit;
  }
  .main article .caption h4 {
    color: #052475;
  }
}

#contact {
  display: none;
}

.social-details .item {
  display: inline-block;
  margin-top: 10px;
  margin-right: 15px;
}
.social-details .item img {
  vertical-align: middle;
  border-style: none;
  width: 25px;
}

[data-id=description] img {
  max-width: 100%;
  max-height: 300px;
  margin: 1em auto;
  display: block;
}

b {
  font-weight: 700;
}

.skill,
.keyword {
  display: inline-block;
  font-size: 0.9em;
  margin: 0px 10px 10px 0px;
  font-weight: 700;
  border-bottom: 2px solid #000;
}

#loader {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1040;
  background: white;
  top: 0px;
  left: 0px;
  background-image: url(../img/load.gif);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 200px 200px;
}

*[data-background] {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@-webkit-keyframes scaler {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
}
@keyframes scaler {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
}
@-webkit-keyframes linkAnim {
  0% {
    margin-right: 10px;
  }
  100% {
    margin-right: 30px;
  }
}
@keyframes linkAnim {
  0% {
    margin-right: 10px;
  }
  100% {
    margin-right: 30px;
  }
}

/*# sourceMappingURL=custom.css.map */
