@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
$screen-lg: 990px;
$primary: #22DE6D;
$secondary: #0943D7;
$light: #f5f5f5;

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 300;
  color: #333;

}

.icon {
  font-family: 'Arial', sans-serif !important;

  font-size: 2em;

  vertical-align: middle;
}

p {
  margin-bottom: 0px;
}

*[class*="-primary"] {
  background-color: $primary !important;
  border-color: $primary !important;

  &[class*="text-"] {
    background: none !important;
    border: none !important;
    color: $primary !important;
  }
}

*[class*="-secondary"] {
  background-color: $secondary !important;
  border-color: $secondary !important;


  &[class*="text-"] {
    background: none !important;
    border: none !important;
    color: $secondary !important;
  }
}

nav.navbar.fixed-top {
  padding-top: 15px;
  padding-bottom: 15px;
  background: #fff;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);

  .main-logo {
    height: 40px;
  }

  .nav-item {
    opacity: .5;

    &.active {
      opacity: 1;
    }

    a {
      font-weight: 400;
    }

    &.nav-c2a {
      display: inline-block;

      opacity: 1;
    }
  }

}

.btn {
  border-radius: 20.5px;
  padding: 8px 20px;
  font-weight: 700 !Important;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;

  &:hover {
    background-color: lighten($primary, 10%) !important;
    border-color: lighten($primary, 10%) !important;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
  }
}

header#home-head {
  position: relative;
  height: 400px;
  margin-top: 80px;
  background: $light;

  @media (max-width: $screen-lg) {
    text-align: center;
    background-image: url('../img/header-bg.jpg');
    background-size: cover;
    color: #fff;

    &::before {
      display: block;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 34, 0.8);

    }
  }

  .header-bg {
    position: absolute;
    right: 0px;
    height: calc(100% + 2px);
    width: 50%;
    top: -2px;
    background-image: url('../img/header-bg.jpg');
    background-size: cover;
    //    background-attachment: fixed;
    -webkit-clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);
    clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);
  }

  .header-content {
    @media (max-width: $screen-lg) {
      text-align: center;
    }
  }
}

h1 {
  font-size: 4rem;

  @media (max-width: $screen-lg) {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: 2.66em;

  @media (max-width: $screen-lg) {
    font-size: 2rem;
  }

}

em {
  white-space: nowrap;
}

section#medal-display {
  position: relative;

  .medal-bg {
    background: url('../img/positive.png');
    background-color: $secondary;
    background-blend-mode: screen;
    -moz-background-blend-mode: screen;
    -webkit-background-blend-mode: screen;
    background-attachment: fixed;
    position: absolute;
    height: 100%;
    -webkit-animation-name: badgeBackground;
    animation-name: badgeBackground;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    opacity: 0.4;

    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 1)), to(rgba(255, 255, 255, 0)));
      background: linear-gradient(0deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
      bottom: 0px;
      left: 0px;
    }
  }

  .section-content {
    padding-left: 30px;
    width: 100%;

    @media (max-width: $screen-lg) {
      text-align: center;
      padding-top: 30px;
      padding-left: 0px;
    }
  }
}

#badge {
  height: 200px;
  display: block;
  margin: 0px auto;
  width: 200px;
  background-image: url('../img/badge.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 100px;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

@-webkit-keyframes badgeBackground {
  0% {
    background-color: $secondary;
  }

  100% {
    background-color: $primary;
  }
}

@keyframes badgeBackground {
  0% {
    background-color: $secondary;
  }

  100% {
    background-color: $primary;
  }
}

.stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  @media (max-width: $screen-lg) {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .stat {
    padding: 10px 20px 10px 0px;
    padding-left: 0px;
    min-width: 50%;
    text-align: left;

    @media (max-width: $screen-lg) {
      min-width: auto;
    }

    .fact {
      font-size: 2em;
      font-weight: 700;
      vertical-align: middle;

      @media (max-width: $screen-lg) {
        font-size: 1.5em;
      }
    }

    .text {
      vertical-align: middle;
      font-size: 1.333em;
      white-space: nowrap;
      padding-left: 10px;
    }
  }
}

.redirect-link {
  color: $secondary;
  text-decoration: none !Important;
  font-weight: 700;
  margin-top: 30px;
  display: inline-block;

  span {
    margin-right: 10px;
    -webkit-animation-name: linkAnim;
    animation-name: linkAnim;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    vertical-align: middle;
  }

  &::after {
    content: ' \2794';
    vertical-align: middle;
    font-size: 1.2em;
  }
}

//Experience Slider
#experience-slider {
  .items {
    overflow: hidden;
    position: relative;
    z-index: 10;

    .experience {
      width: 100%;

      position: absolute;
      padding-bottom: 15px;

      -webkit-transform: translateX(100%);

      transform: translateX(100%);
      top: 0px;
      -webkit-transition: -webkit-transform .6s ease;
      transition: -webkit-transform .6s ease;
      transition: transform .6s ease;
      transition: transform .6s ease, -webkit-transform .6s ease;

      &.active {
        -webkit-transform: none;
        transform: none;
      }

      &.prev {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
      }

      .year {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: end;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: end;

        @media(max-width: $screen-lg) {
          display: block;
          margin-bottom: 1em;
        }

        &::after {
          content: '';
          display: block;
          position: absolute;
          width: 2px;
          height: calc(100% - 0.45em);

          top: 0.45em;
          right: 10px;
          background: #ccc;

          @media(max-width: $screen-lg) {
            display: none;
          }
        }

        span {
          -webkit-transform: rotate(-90deg) translate(30%, -50%);
          transform: rotate(-90deg) translate(30%, -50%);
          font-weight: 700;

          -webkit-transform-origin: center;

          transform-origin: center;

          display: block;

          font-size: 2em;

          height: 1em;

          @media(max-width: $screen-lg) {
            -webkit-transform: none;
            transform: none;
          }
        }
      }

      .company-name {
        margin-bottom: 0px;
        display: inline;
        margin-right: 1ch;
      }

      .link {
        display: inline-block;
        vertical-align: bottom;

        @media(max-width: $screen-lg) {
          display: inline;
          border: none;
          padding: 0px;
          margin: 0px;
          white-space: nowrap;
          vertical-align: middle;
          font-size: 0px;
          opacity: 0.7;

          &:hover {
            background: none !important;
            color: darken($primary, 10%) !important;
            opacity: 1;
          }

          &::before {
            content: '🔗';
            margin-right: 10px;
            font-size: 20px;
          }
        }
      }

      &::after {
        content: '';
        display: block;
        position: absolute;
        left: calc(50% - 7.5px);
        bottom: 12px;
        width: 15px;
        height: 15px;
        background: $secondary;
        border-radius: 50%;

      }

      &::before {
        content: '';
        display: block;
        position: absolute;
        left: calc(50% - 15px);
        bottom: 5px;
        width: 30px;
        height: 30px;
        background: rgba(0, 0, 33, 0.08);
        border-radius: 50%;
        -webkit-animation-name: scaler;
        animation-name: scaler;
        -webkit-animation-duration: .5s;
        animation-duration: .5s;
        -webkit-animation-direction: alternate;
        animation-direction: alternate;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
      }

    }

  }

  .controls {
    position: relative;
    z-index: 5;
    top: -44px;

    .timeline {
      display: block;
      width: 100%;
      height: 2px;
      background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 50, 0)), color-stop(25%, $secondary), color-stop(75%, darken($secondary, 10%)), to(rgba(0, 0, 20, 0)));
      background: linear-gradient(90deg, rgba(0, 0, 50, 0) 0%, $secondary 25%, darken($secondary, 10%) 75%, rgba(0, 0, 20, 0) 100%)
    }

    .previous,
    .next {
      margin-top: 10px;
      width: calc(50% - 3px);
      display: inline-block;
      font-weight: 700;
      cursor: pointer;

      &.disable {
        opacity: 0.2;

      }
    }

    .previous {
      &::before {
        content: ' \21E0';
        margin-right: 1ch;
      }
    }

    .next {
      text-align: right;

      &::after {
        content: ' \21E2';
        margin-left: 1ch;

      }
    }

  }
}

a.link {
  font-weight: 700;

  text-decoration: none !important;

  color: $primary;

  opacity: 0.8;

  border: 1px solid $primary;


  border-radius: 1em;

  padding: 0px 10px;

  line-height: 2em;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;

  &:hover {
    color: #fff;
    background: $primary;
  }

}

h4 {
  font-weight: 700;
  font-size: 1.5em;
  color: darken($secondary, 20%);
}

#project-slider {
  padding: 0px 0px 0px 20px;

  .wrap {
    overflow-x: hidden;

    .items {
      cursor: -webkit-grab;
      cursor: grab;

      &.is-dragging {
        cursor: -webkit-grabbing;
        cursor: grabbing;
      }

    }
  }

}

.project {
  width: 300px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
  padding: 10px;
  overflow: hidden;
  margin-right: 20px;
  position: relative;

  background: #fff;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-bottom: 20px;

  .project-image {
    height: 200px;
    position: relative;
    width: calc(100% + 20px);
    margin: -10px 0px 0px -10px;
    margin-bottom: 15px;

    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0)));
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));

    }

  }

  .project-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-flex: 0;

    -ms-flex-positive: 0;

    flex-grow: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    height: calc(100% - 211px);
  }

  a.link {
    float: right;
    margin-top: 10px;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "main first""main second""main third";

  @media (max-width: $screen-lg) {
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "main""first""second""third";
  }
}

article {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-line-pack: end;
  align-content: flex-end;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  cursor: pointer;

  .article-img {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;

    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, rgba(0, 0, 50, 0.4)), to(rgba(0, 0, 0, 0)));
      background: linear-gradient(0deg, rgba(0, 0, 50, 0.4) 10%, rgba(0, 0, 0, 0));
      top: 0px;
      left: 0px;
      z-index: 5;
    }
  }

  .caption {
    color: #fff;
    position: relative;
    z-index: 10;

    h4 {
      color: #fff;
    }
  }

  &.secondary {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;

    .article-img {
      width: 80px;

      &::after {
        display: none;
      }
    }

    .caption {
      width: calc(100% - 90px);
      margin-left: 90px;
      color: inherit;

      h4 {
        color: #052475;
        font-size: 1.4em;
      }
    }

  }


}

.dull-link {
  text-decoration: none !Important;
  color: inherit !important;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;

  &:hover {
    opacity: 0.9;

  }
}

.main {
  grid-area: main;
  padding-right: 15px;
  padding-bottom: 15px;
}

.first {
  grid-area: first;
  padding-bottom: 15px;
}

.second {
  grid-area: second;
  padding-bottom: 15px;
}

.third {
  grid-area: third;
  padding-bottom: 15px;
}

.main {


  @media (max-width: $screen-lg) {
    padding-right: 0px;

    article {
      font-size: 80%;

      .article-img {
        width: 80px;

        &::after {
          display: none;
        }
      }

      .caption {
        width: calc(100% - 90px);
        margin-left: 90px;
        color: inherit;

        h4 {
          color: #052475;
        }
      }

    }

  }
}
#contact{
  display: none;
}

.social-details {
  .item {
    display: inline-block;
    margin-top: 10px;
    margin-right: 15px;

    img {
      vertical-align: middle;

      border-style: none;

      

      width: 25px;
    }
  }

}

[data-id="description"] {

  img {
    max-width: 100%;
    max-height: 300px;
    margin: 1em auto;
    display: block;
  }

}

b {
  font-weight: 700;
}

.skill,
.keyword {
  display: inline-block;
  font-size: 0.9em;
  margin: 0px 10px 10px 0px;
  font-weight: 700;
  border-bottom: 2px solid #000;

}

#loader {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1040;
  background: rgb(255, 255, 255);
  top: 0px;
  left: 0px;
  background-image: url(../img/load.gif);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 200px 200px;
}

*[data-background] {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@-webkit-keyframes scaler {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3)
  }
}

@keyframes scaler {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3)
  }
}

@-webkit-keyframes linkAnim {
  0% {
    margin-right: 10px;
  }

  100% {
    margin-right: 30px;
  }
}

@keyframes linkAnim {
  0% {
    margin-right: 10px;
  }

  100% {
    margin-right: 30px;
  }
}